<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="alert alert-success" *ngIf="status=='success'">
                El login se ha completado correctamente,<a [routerLink]="['/login']">Identificate aquí</a> 
            </div>
            <div class="alert alert-danger" *ngIf="status=='error'">
                El login no se ha completado 
            </div>
            <h2>Identificate</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="">
                <p>
                    Email
                    <input class="form-control" type="text" name="email" #email="ngModel" [(ngModel)]="user.email" required/>
                    <span *ngIf="!email.valid && email.touched">
                        El email no es valido
                    </span>
                </p>
                <p>
                    password
                    <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required/>
                    <span *ngIf="!email.valid && email.touched">
                        La contraseña no es valida
                    </span>
                </p>
                <input type="submit" class="btn btn-primary" value="Acceder" [disabled]="!loginForm.form.valid"/>
            </form>
        </div>
    </div>
</div>




