<div class="container">
    <div class="row" *ngIf="statusList!='success'"> 
        <div class="col-1 spinner-border text-center mt-5">
        </div>
        <div class="col-2 text-center pt-1 mt-5">
            <h5>Cargando ...</h5>
        </div>
    </div>
    <div *ngIf="statusList=='success'">
        <h2 class="mt-5">
            Listado vehículos
        </h2>
        <table class="table table-light table-hover ">
            <thead>
                <tr class="row border border-dark rounded-3">
                    <th class="col-8" *ngIf="this.token == null">Nombre Vehículo</th>
                    <th class="col-6" *ngIf="this.token != null">Nombre Vehículo</th>
                    <th class="col-2">Precio</th>
                    <th class="col-4" *ngIf="this.token != null">Estado</th>
                    <th class="col-2" *ngIf="this.token == null">Estado</th>
                </tr>
            </thead>
            <tbody *ngFor="let car of carList">
                <tr class="row border border-dark rounded-3">
                    <th class="col-6" *ngIf="this.token != null">
                        <a routerLink="/coche/{{car.id}}"  class="text-dark">
                            {{car.title}}
                        </a>
                    </th>
                    <th class="col-8" *ngIf="this.token == null">
                        <a routerLink="/coche/{{car.id}}"  class="text-dark">
                            {{car.title}}
                        </a>
                    </th>
                    <td class="col-2">
                        {{car.price}}
                    </td>
                    <td class="col-2">
                        <span *ngIf="car.status=='true'">
                            En venta
                        </span>
                        <span *ngIf="car.status=='false'">
                            No esta en venta
                        </span>
                    </td>
                    <td class="col-1" *ngIf="this.token != null">
                        <a routerLink="/editar-coche/{{car.id}}">
                            <input type="button" value=" Editar " class="btn btn-warning"/>
                        </a>
                    </td>
                    <td class="col-1" *ngIf="this.token != null">
                        <a routerLink="">
                            <input (click)="deleteCar(car.id)" type="button" value=" Borrar " class="btn btn-danger"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>